td.menu { vertical-align: top;
          font-size: medium;
          font-family: arial;
	  background: #E3FFD7;
	  height: 500px;
	  padding: 0;
        }

div.menu { margin: 5px 40px 5px 15px }

td.content { vertical-align: top; }

pre { background: #E9E9E9 }

.q { background: #E3FFD7; font-weight: bold; }

.footer { font-size: smaller; alignment: center; }

