td.menu { vertical-align: top;
          font-size: small;
          font-family: arial;
          color:white;
          font-weight:bold;
	  background: #99cccc;
	  height: 500px;
	  padding-top: 10px;
        }
H1 {text-decoration:underline;}
div.menu { margin: 5px 40px 5px 15px }

td.content { vertical-align: top; padding-left: 20px;}

pre { background: #E9E9E9 }

.q { background: #99cccc; font-weight: bold; }

.footer { font-size: smaller; alignment: center; }

