*.o
.*.d
*~
*.flat
*.a
config.mak
.*.cmd
qemu/config-host.h
qemu/config-host.mak
user/test/bootstrap
user/kvmctl
qemu/dyngen
qemu/x86_64-softmmu
qemu/qemu-img
*.ko
*.mod.c
kernel/kvm_main.c
kernel/kvm.h
kernel/kvm_svm.h
kernel/vmx.[ch]
kernel/svm.[ch]
kernel/mmu.c
kernel/paging_tmpl.h
kernel/segment_descriptor.h
kernel/x86_emulate.[ch]
kernel/include/linux/kvm*.h
kernel/Module.symvers
kernel/Modules.symvers
kernel/.tmp_versions