*.o
*.d
*~
*.flat
*.a
config.mak
.*.cmd
qemu/config-host.h
qemu/config-host.mak
user/test/bootstrap
user/kvmctl
qemu/dyngen
qemu/x86_64-softmmu
qemu/qemu-img
qemu/qemu-nbd
*.ko
*.mod.c
kernel/kvm_main.c
kernel/kvm.h
kernel/kvm_svm.h
kernel/vmx.[ch]
kernel/svm.[ch]
kernel/mmu.c
kernel/paging_tmpl.h
kernel/segment_descriptor.h
kernel/x86_emulate.[ch]
kernel/include/linux/kvm*.h
kernel/Module.symvers
kernel/Modules.symvers
kernel/.tmp_versions
bios/*.bin
bios/*.sym
bios/*.txt
bios/acpi-dsdt.aml
vgabios/*.bin
vgabios/*.txt
extboot/extboot.bin
extboot/extboot.img
extboot/signrom
kernel/Module.markers
kernel/i825[49].[ch]
kernel/include-compat/asm
kernel/include-compat/asm-x86/asm-x86
kernel/include
kernel/ioapic.[ch]
kernel/iodev.h
kernel/irq.[ch]
kernel/kvm_trace.c
kernel/lapic.[ch]
kernel/mmu.h
kernel/modules.order
kernel/tss.h
kernel/x86.[ch]
kernel/coalesced_mmio.c
kernel/coalesced_mmio.h
kernel/kvm_cache_regs.h
qemu/pc-bios/extboot.bin
qemu/qemu-doc.html
qemu/*.[18]
qemu/*.pod
qemu/qemu-tech.html
user/kvmtrace
user/test/x86/bootstrap
